*{
    background: #141414 ;
    color: #ffffff;
}

.img{
    width: 250px;
    height: 300px;
    border-radius: 20px 20px 0 0 ;
}

.ahmed {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    width: 100%;
}
.navbarr {
    width: 50px;
    height: auto;
    margin-bottom: 20px;
}

.search{
    float: right;
    margin-bottom: 80px;
    margin-top: -65px;
    background-color: #141414;
}
.search > input {
    background: #ffffff;
    border-radius: 20px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.names > h2 {
    margin-top: 8px;
    text-align: center;
    font-size: 16px;
    color:burlywood;
    background: rgb(248, 248, 248);
}
.names > h3 {
    margin-top: 8px;
    text-align: center;
    font-size: 16px;
    color:burlywood;
    margin-bottom: 15px;
    background: rgb(248, 248, 248);
}
.names {
    background: rgb(248, 248, 248);
    margin-left: 40px;
    margin-top: 20px;
    border-radius: 20px;
}
.starss {
    text-align: center;
    cursor: pointer;
    background-color: #141414 ;
}
.modall{
    text-align: center;
    margin-top: 50px;
    border-radius: 20px;
    background-color: goldenrod;
}
.rat {
    display: flex;
    background-color: #FBFCFC ;
      
}
.amin {
    border-radius: 20px;
    background: rgb(192, 175, 77);
}
.form {
    background-color:#FBFCFC ;
    padding: 30px;
    margin-bottom: 20px;
}
.form ,input , label{
    background-color:#FBFCFC ;
    color: black;
}
.form, label {
    margin-right: 45px;
    float: left;
}
.formm ,input{
    margin-left: 15px;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    width: 80%;
    
}
.sam {
    background-color: #FBFCFC ;
}
.but{
    background-color: #FBFCFC ;
    margin-left: 120px;
}
.but > button {
    margin-top: 35px;
    border-radius: 20px;
    background-color: #BFC9CA ;
    
}
.btn_info{
    background-color: #707a86;
    text-align: center;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    border-radius: 20px;
}
.navOptions{
    text-decoration: none;
    color: gray;
    margin-top: 8px;
    font-size: 18px;
    margin-left: 15px;
}
.info-button{
    border-radius: 15px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(150, 151, 145);
    text-decoration: underline rgb(150, 151, 145);
    
}
.info-pages{
background-color: red;
width: 850px;
height: 460px;
display: flex;
}
.info-pages > img {
    width: 250px;
    height: 300px;
}
.info-p{
    height: 25px;
}